<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503257649933-6vo72907kkq1256n6lfcehaecpsikd4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503257649933-6vo72907kkq1256n6lfcehaecpsikd4q</string>
	<key>API_KEY</key>
	<string>AIzaSyCq5A3GLGBOxZoA0CmrSAWlCkrA33LsTTs</string>
	<key>GCM_SENDER_ID</key>
	<string>503257649933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felipe.payflow</string>
	<key>PROJECT_ID</key>
	<string>payflow-2fbdf</string>
	<key>STORAGE_BUCKET</key>
	<string>payflow-2fbdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503257649933:ios:486f583bf5dbf90ecf9644</string>
</dict>
</plist>